{% load static %}
<html>

<head>
    <title>Will Russell</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <div class="page-header">
        <a href="/cv" class="top-menu">CV</a>
        <a href="/blog" class="top-menu">Blog</a>
        <h1 id="title"><a href="/">Will Russell</a></h1>
        <h3 id="tagline">Python Developer and Hackathon Coach</h3>
    </div>
</body>

</html>